<!DOCTYPE html>
<html lang="en">

<head>
    <title>DashboardKit Bootstrap 5 Admin Template</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
    	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="DashboardKit is modern yet powerful Bootstrap 5 Admin Template comes with thousands of UI components & 180+ pages."/>
    <meta name="keywords" content="DashboardKit, Dashboard Kit, Dashboard UI Kit, Bootstrap 5, Admin Template, Admin Dashboard, CRM, CMS, Free Bootstrap Admin Template"/>
    <meta name="author" content="DashboardKit" />

    <!-- Favicon icon -->
    <link rel="icon" href="/backend/assets/images/favicon.svg" type="image/x-icon">

    <link rel="stylesheet" href="/backend/assets/css/plugins/animate.min.css">
    <!-- font css -->
    <link rel="stylesheet" href="/backend/assets/fonts/tabler-icons.min.css">
    <link rel="stylesheet" href="/backend/assets/fonts/feather.css">
    <link rel="stylesheet" href="/backend/assets/fonts/fontawesome.css">
    <link rel="stylesheet" href="/backend/assets/fonts/material.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="/backend/assets/css/style.css" id="main-style-link">
    <link rel="stylesheet" href="/backend/assets/css/customizer.css">
    <link rel="stylesheet" href="/backend/assets/css/layout-horizontal.css">

    <link rel="stylesheet" href="/backend/assets/css/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

</head>
