<header class="nav-solid" id="home">

    <nav class="navbar navbar-fixed-top">
        <div class="navigation">
            <div class="container-fluid">
                <div class="row">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- Logo -->
                        <div class="logo-container">
                            <div class="logo-wrap local-scroll">
                              <a href="#home">
                                <img class="logo" src="/frontend/img/logo-halaka.png" alt="logo" data-rjs="2">
                              </a>
                            </div>
                        </div>
                    </div> <!-- end navbar-header -->

                    <div class="col-md-8 col-xs-12 nav-wrap">
                        <div class="collapse navbar-collapse" id="navbar-collapse">

                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/">Home</a></li>
                                <li><a href="/tentang-kami">Tentang Kami</a></li>
                                <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kelas <span class="caret"></span></a>
                                  <ul class="dropdown-menu">
                                    <!-- <li><a href="/daftar_kelas" style="color: black">Daftar Kelas</a></li> -->
                                    <% if (user) { %>
                                        <li><a href="/kelas_saya" style="color: black">Kelas Saya</a></li>
                                    <% } %>
                                  </ul>
                                </li>
                                </li>
                                <% if (!user) { %>
                                    <li><a href="/login"><button class="btn btn-main btn-theme" data-lang="en">Login</button></a></li>
                                <% } %>
                            </ul>

                        </div>
                    </div> <!-- /.col -->

                </div> <!-- /.row -->
            </div> <!--/.container -->
        </div> <!-- /.navigation-overlay -->
    </nav> <!-- /.navbar -->

</header>