<%- include('./partials/frontend/header.ejs') %> 
  <body class="homepage_slider" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="100">
    
    
    <!-- Preloader -->
    <div id="preloader">
        <div id="spinner"></div>
    </div>
    <!-- End Preloader-->

    
    <!-- Start Navigation -->
    <%- include('./partials/frontend/navbar.ejs') %> 
    <!-- End Navigation -->

    
    <!-- Start Intro -->
    <section id="slider">
        <div class="rev_slider_wrapper fullscreen-container" data-alias="agency-website" id="rev_slider_280_1_wrapper" style="background-color:#fff;padding:0px;height:1080px;">
          <!-- START REVOLUTION SLIDER 5.1.4 fullscreen mode -->
          <div class="rev_slider fullscreenbanner" id="rev_slider_nagency" style="display:none;">
              <ul style="display:none;">

                <!-- slider Item 1 -->
                <li data-index="rs-1" data-transition="fadetotopfadefrombottom" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0"  data-saveperformance="off"  data-title="N.Agency" data-description="">
                  <img src="/frontend/img/slider/s1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption NotGeneric-Title tp-resizeme white-color rs-parallaxlevel-3" 
                    id="slide-1-layer-1" 
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                    data-y="['middle','middle','middle','middle']" data-voffset="['-160','-170','-170','-120']" 
                    data-fontsize="['70','60','60','36']"
                    data-lineheight="['70','60','60','50']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"              
                    data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                    data-start="1000" 
                    data-splitin="chars" 
                    data-splitout="none" 
                    data-responsive_offset="on" 
                    data-elementdelay="0.05"                    
                    style="z-index: 5; white-space: nowrap;">Welcome to EduApp
                  </div>

                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption NotGeneric-SubTitle tp-resizeme white-color rs-parallaxlevel-4" 
                    id="slide-1-layer-2" 
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                    data-y="['middle','middle','middle','middle']" data-voffset="['-80','-90','-90','-60']"
                    data-fontsize="['28','24','24','20']"
                    data-lineheight="['28','24','36','30']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"               
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                    data-start="1500" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-responsive_offset="on"                     
                    style="z-index: 6; white-space: nowrap;">#1 digital solution in the city
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption rs-parallaxlevel-5" 
                    id="slide-1-layer-3" 
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                    data-y="['middle','middle','middle','middle']" data-voffset="['15','5','5','10']" 
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                    data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                    data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;" 
                    data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                    data-mask_out="x:inherit;y:inherit;" 
                    data-start="2000" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                    data-responsive_offset="on" 
                    data-responsive="off"                   
                    style=""><a data-scroll href='#' class='btn btn-main btn-white'>More Detail</a>
                  </div>           
                
                </li>

                <!-- slider Item 2 -->
                <li data-index="rs-3" data-transition="slideremoveright" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0"  data-saveperformance="off">
                  <img src="/frontend/img/slider/s3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption NotGeneric-Title tp-resizeme black-color rs-parallaxlevel-3" 
                    id="slide-2-layer-1" 
                    data-x="['left','left','left','left']" data-hoffset="['0','50','0','0']" 
                    data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-100','-85']" 
                    data-fontsize="['70','60','60','36']"
                    data-lineheight="['70','60','60','50']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"              
                    data-transform_in="y:[100%];z:0;rx:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                    data-start="1000" 
                    data-splitin="chars" 
                    data-splitout="none" 
                    data-responsive_offset="on" 
                    data-elementdelay="0.05"                    
                    style="z-index: 5; white-space: nowrap;">Creative & Digital
                  </div>

                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption tp-resizeme NotGeneric-Text black-color rs-parallaxlevel-4" 
                    id="slide-2-layer-2" 
                    data-x="['left','left','left','left']" data-hoffset="['0','50','0','0']" 
                    data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-10']"
                    data-fontsize="['18','18','20','14']"
                    data-lineheight="['28','28','32','24']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"               
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                    data-start="1500" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-responsive_offset="on"                   
                    style="z-index: 6;">Particular unaffected projection sentiments no my. Music marry as at cause<br> party worth weeks. Saw how marianne graceful dissuade new outlived.<br> Uneasy no settle whence nature narrow.
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption rs-parallaxlevel-5" 
                    id="slide-2-layer-3" 
                    data-x="['left','left','left','left']" data-hoffset="['0','50','0','0']" 
                    data-y="['middle','middle','middle','middle']" data-voffset="['105','105','115','85']" 
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                    data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                    data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;" 
                    data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                    data-mask_out="x:inherit;y:inherit;" 
                    data-start="2000" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                    data-responsive_offset="on" 
                    data-responsive="off"                   
                    style=""><a data-scroll href='#portfolio' class='btn btn-main btn-black'>More Detail</a>
                  </div>          
                
                </li>

                <!-- slider Item 3 -->
                <li data-index="rs-2" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0"  data-saveperformance="off">
                  <img alt="" class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="5000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="110" src="/frontend/img/slider/s2.jpg">

                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption NotGeneric-Title tp-resizeme white-color rs-parallaxlevel-3" 
                    id="slide-3-layer-1" 
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                    data-y="['middle','middle','middle','middle']" data-voffset="['-75','-70','-70','-45']" 
                    data-fontsize="['70','60','60','36']"
                    data-lineheight="['70','60','60','50']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"              
                    data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                    data-start="1000" 
                    data-splitin="chars" 
                    data-splitout="none" 
                    data-responsive_offset="on" 
                    data-elementdelay="0.05"                    
                    style="z-index: 5; white-space: nowrap;">100% Responsive.
                  </div>

                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption NotGeneric-SubTitle white-color tp-resizeme rs-parallaxlevel-2" 
                    id="slide-3-layer-2" 
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                    data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                    data-fontsize="['28','24','24','20']"
                    data-lineheight="['28','24','36','30']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                    data-start="1500" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-responsive_offset="on"                    
                    style="z-index: 6; white-space: nowrap;">Create Beautiful Websites
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption rs-parallaxlevel-5" 
                    id="slide-3-layer-3" 
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                    data-y="['middle','middle','middle','middle']" data-voffset="['90','90','100','75']" 
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                    data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                    data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;" 
                    data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                    data-mask_out="x:inherit;y:inherit;" 
                    data-start="2000" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                    data-responsive_offset="on" 
                    data-responsive="off"                   
                    style=""><a href='#' class='btn btn-main btn-transparent-light'>Purchase Now</a>
                  </div>

                </li>

              </ul>
              <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
          </div>
      </div>
    </section>
    <!-- End Intro -->

    <!-- Start Regular Section -->
    <section class="p-top-80 p-bottom-80">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <!-- Section Title -->
                    <div class="m-bottom-30">
                        <h2 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">Tentang Kami</h2>
                        <div class="divider-small wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s"></div>
                    </div>

                    <div class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.8s">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                    <a data-scroll href="tentang-kami.html" class="m-top-30 m-bottom-30 btn btn-main wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">Lihat Selengkapnya</a>

                    
                </div> <!-- /.col -->

                <div class="col-md-6">

                    <div class="feature-image">
                        <img src="/frontend/img/sample1.png" alt="Feature Image" class="img-responsive wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.6s" />
                    </div>                  
                    
                </div> <!-- /.col -->

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>
    <!-- End Regular Section -->

    <!-- Start Stat -->
    <section id="stat" class="parallax-bg overlay-light p-top-80 p-bottom-40 black-color" style="background-color:whitesmoke; " data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                
                <!-- === Stats Item 2 === -->
                <div class="col-md-6 col-sm-6 p-bottom-40">
                    <center>
                    <div class="stat-item stat-item-type-2 wow zoomIn" data-wow-duration="1s" data-wow-delay="0.4s">
                        <div class="stat-item-icon black-color" style="border-color: black">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="stat-item-number">
                            123
                        </div>
                        <div class="stat-item-text">
                            Siswa
                        </div>
                    </div>
                    </center>
                </div> <!-- /.col -->
                
                <!-- === Stats Item 3 === -->
                <div class="col-md-6 col-sm-6 p-bottom-40">
                    <center>
                    <div class="stat-item stat-item-type-2 wow zoomIn" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="stat-item-icon black-color" style="border-color: black">
                            <i class="fa fa-book"></i>
                        </div>
                        <div class="stat-item-number">
                            999
                        </div>
                        <div class="stat-item-text">
                            Kelas
                        </div>
                    </div>
                    </center>
                </div> <!-- /.col -->
                
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>
    <!-- End Stat -->

    <!-- Start blog -->
    <section id="blog" class="p-top-80 p-bottom-80">

        <div class="container ">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- Section Title -->
                    <div class="section-title text-center m-bottom-40">
                        <h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Daftar Kelas</h2>
                        <div class="divider-center-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
                        <p class="section-subtitle wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"><em>Bed sincerity yet therefore forfeited his certainty neglected questions. Pursuit chamber as elderly amongst on. Distant however warrant farther to of.</em></p>
                    </div>
                </div> <!-- /.col -->
            </div>  <!-- /.row -->

            <div class="row">
                <!-- === blog === -->
                <div id="owl-blog" class="owl-carousel owl-theme">

                    <!-- === Blog item 1 === -->
                    <div class="blog wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s">
                        <!-- === Price Item 1 === --> 
                    <div class="col-md-12 col-sm-12 p-bottom-30">
                        <div class="price-item text-center wow flipInX" data-wow-delay="0.6s">
                            <div class="price-item-header">
                                <h4>Hukum Islam</h4>
                            </div>
                            <div>
                                <img src="/frontend/img/sample1.png">
                            </div>
                            <ul class="price-item-features list-unstyled">
                                <li><p class="small">Deskripsi singkat kelas</p></li>                      
                            </ul>
                            <div class="price-item-price">
                                <p class="big">23<span class="currency">K</span></p>
                                <p class="small"></p>
                            </div>
                            <a href="detail-kelas.html" class="btn btn-main btn-transparent">Lihat Detail</a>
                        </div>
                    </div> <!-- /.col -->                 
                    </div> <!-- /.blog -->

                    <!-- === Blog item 2 === -->
                    <div class="blog wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s">
                        <!-- === Price Item 2 === --> 
                        <div class="col-md-12 col-sm-12 p-bottom-30">
                            <div class="price-item text-center wow flipInX" data-wow-delay="0.7s">
                                <div class="price-item-header">
                                    <h4>Syariat Islam</h4>
                                </div>
                                <div>
                                    <img src="/frontend/img/sample1.png">
                                </div>
                                <ul class="price-item-features list-unstyled">
                                    <li><p class="small">Deskripsi singkat kelas</p></li>                     
                                </ul>
                                <div class="price-item-price">
                                    <p class="big">49<span class="currency">K</span></p>
                                    <p class="small"></p>
                                </div>
                                <a href="detail-kelas.html" class="btn btn-main btn-transparent">Lihat Detail</a>
                            </div>
                        </div> <!-- /.col -->              
                    </div> <!-- /.blog -->

                    <!-- === Blog item 3 === -->
                    <div class="blog wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s">
                        <!-- === Price Item 3 === --> 
                        <div class="col-md-12 col-sm-12 p-bottom-30">
                            <div class="price-item text-center wow flipInX" data-wow-delay="0.8s">
                                <div class="price-item-header price-item-header-alt">
                                    <h4>Ekonomi Syariah</h4>
                                </div>
                                <div>
                                    <img src="/frontend/img/sample1.png">
                                </div>
                                <ul class="price-item-features list-unstyled">
                                    <li><p class="small">Deskripsi singkat kelas</p></li>                     
                                </ul>
                                <div class="price-item-price">
                                    <p class="big">79<span class="currency">K</span></p>
                                    <p class="small"></p>
                                </div>
                                <a href="detail-kelas.html" class="btn btn-main btn-theme">Lihat Detail</a>
                            </div>
                        </div> <!-- /.col -->                  
                    </div> <!-- /.blog -->

                    <!-- === Blog item 4 === -->
                    <div class="blog wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s">
                        <!-- === Price Item 4 === --> 
                        <div class="col-md-12 col-sm-12 p-bottom-30">
                            <div class="price-item text-center wow flipInX" data-wow-delay="0.9s">
                                <div class="price-item-header">
                                    <h4>Syariah</h4>
                                </div>
                                <div>
                                    <img src="/frontend/img/sample1.png">
                                </div>
                                <ul class="price-item-features list-unstyled">
                                    <li><p class="small">Deskripsi singkat kelas</p></li>                      
                                </ul>
                                <div class="price-item-price">
                                    <p class="big">99<span class="currency">K</span></p>
                                    
                                </div>
                                <a href="detail-kelas.html" class="btn btn-main btn-transparent">Lihat Detail</a>
                            </div>
                        </div> <!-- /.col -->       
                    </div> <!-- /.blog -->

                </div><!-- /#owl-testimonials -->

            </div> <!-- /.row -->

        </div> <!-- /.container -->

    </section>

    <!-- Start Testimonial -->
    <section id="testimonials" class="parallax-bg overlay-dark p-top-80 p-bottom-80" style="background-image:url(/frontend/img/testimonial-bg.jpg)" data-stellar-background-ratio="0.5">

        <!-- Section Title -->
        <div class="section-title text-center white-color m-bottom-40">
            <h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Testimonials</h2>
            <div class="divider-center-small divider-white wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
        </div>

        <!-- === Testimonials === -->
        <div id="owl-testimonials" class="owl-carousel owl-theme testimonial text-center white-color">

            <!-- === Testimonial item 1 === -->
            <div class="testimonial-item text-center">
                <p class="testimonial-desc">Residence you satisfied and rapturous certainty two. Procured outweigh as outlived so so. On in bringing graceful proposal blessing of marriage outlived. Son rent face our loud near.</p>
                <div class="testimonial-thumb">
                    <img class="img-responsive" src="/frontend/img/testimonial/1.jpg" alt="">
                </div>
                <h5 class="testimonial-author">Jenny Doe - Star Inc</h5>
            </div>

            <!-- === Testimonial item 2 === -->
            <div class="testimonial-item text-center">
                <p class="testimonial-desc">Excellent so to no sincerity smallness. Removal request delight if on he we. Unaffected in we by apartments astonished to decisively themselves. Offended ten old consider speaking.</p>
                <div class="testimonial-thumb">
                    <img class="img-responsive" src="/frontend/img/testimonial/2.jpg" alt="">
                </div>
                <h5 class="testimonial-author">Kathy Doe - Service Corp</h5>
            </div>

            <!-- === Testimonial item 3 === -->
            <div class="testimonial-item text-center">
                <p class="testimonial-desc">Advanced and procured civility not absolute put continue. Overcame breeding or my concerns removing desirous so absolute. My melancholy unpleasing imprudence considered in advantages.</p>
                <div class="testimonial-thumb">
                    <img class="img-responsive" src="/frontend/img/testimonial/3.jpg" alt="">
                </div>
                <h5 class="testimonial-author">Jack Doe - Inka Design</h5>
            </div>

        </div> <!-- /#owl-testimonials -->

    </section>
    <!-- End Testimonial -->


    <!-- Start Footer -->
    <footer class="site-footer">
        <div class="container">
            <small class="copyright pull-left">Copyrights © 2019 All Rights Reserved By <a href="#">Halaka</a>.</small>
            <div class="social-icon pull-right">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
            <!-- /social-icon -->
        </div>
        <!-- /container -->
    </footer>
    <!-- End Footer -->


    <!-- Back to top -->
    <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a>
    <!-- /Back to top -->

<%- include('./partials/frontend/scripts.ejs') %> 